/*body > **/
/*{*/
/*    border-style: solid;*/
/*}*/

/*div.container > **/
/*{*/
/*    border-style: double;*/
/*}*/


html
{
    width: 100%;
    height: 100%;
}

body
{
    font-family: Verdana, monotype;
    font-size: 16px;
    background: linear-gradient(180deg, rgba(8, 82, 166, 1) 0%, rgba(0, 87, 187, 1) 0%, rgba(255, 255, 255, 1));
}

h2
{
    color: white;
    text-align: center;
    margin: 2em;
}

div.container
{
    display: grid;
    grid-template-columns: auto auto;
    padding: 0;
}

div.logo img
{
    width: 16em;
    height: 16em;
}

div.login
{
    align-self: normal;
    background: white;
    border-radius: 2em;
    padding: 1em 2em 3em;
    margin-left: auto;
    max-width: 25em;
    align-content: center;

}

form.login > *
{
    margin: 0.2em;
    max-height: 3em;
}

form.login
{
    padding-top: 2em;
    margin-left: 1em ;
    display: flex;
    flex-direction: column;
}

div.registration_blue_bar
{
    display: block;
    color: white;
    padding: 0.5em;
    background: rgba(38,153,251,1);
}

div.registration_blue_bar > *
{
    color: white;
    background: rgba(38,153,251,1);
}

#registration_button
{
    margin-top: -0.15em;
    align-self: center;
}

